.head  {
   
    text-align: center;
    background-color: #3c6460;;
    color: aliceblue;
    font-size: larger;
     font-family:emoji;
     padding: 10px;
     margin: 2px;
     border-radius: 2px;
     border-color: antiquewhite;
    
  
}
.bar{ 
    color: azure;
background-color: rgb(206, 231, 117);

}
